<div class="container-fluid mt-5 " id="serviceid" data-aos="fade-up">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Services</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-4" data-aos="fade-up-left">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/setting.png" alt="setting">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, architecto.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up-right">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="images/speed.png" alt="setting">
                            </div>
                            <h4>Speedup</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, architecto.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-down-right">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="images/protect.png" alt="setting">
                            </div>
                            <h4>Privacy</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, architecto.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-down-left">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="images/backup.png" alt="setting">
                            </div>
                            <h4>Backup</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, architecto.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-down">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="images/ssl.png" alt="setting">
                            </div>
                            <h4>SSL</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, architecto.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-right">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="images/database.png" alt="setting">
                            </div>
                            <h4>Database</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, architecto.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>